* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    position: fixed;
    background: #FFF;
}

.navbar img {
    width: 120px;
    margin-left: -10px;
}

#logo_icon {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_icon:hover {
    background: rgb(215, 212, 212);
    border-radius: 50%;
}

.search {
    display: flex;
    /* border: 2px solid black; */
    position: relative;
    width: 720px;
}

.navbar input:focus {
    padding-left: 50px;
    width: 600px;
    margin-left: 150px;
}

#search_icon {
    position: absolute;
    left: 680px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #635c5c;
}

#search_icon:hover {
    color: #000;
}

.search a {
    color: black;
}

.navbar input {
    width: 540px;
    height: 40px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #d3d3d3;
    margin-left: 180px;
    font-size: 16px;
    padding-left: 14px;
}

#search_glass {
    width: 70px;
    height: 40px;
    position: absolute;
    left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #FFF; */
}

.navbar>input:focus #search_glass {
    color: black;
}

.poi {
    width: 63px;
    height: 40px;
    border: 1px solid #d3d3d3;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px dotted rgba(99, 95, 95, 0.719);
    background-color: #f8f8f8;
    cursor: pointer;
}

.poi i {
    margin-left: -10px;
}

.poi p {
    font-size: 19px;
    color: #1a1a1a;
    margin-left: 20px;
}

.icon1 {
    font-size: 19px;
    color: #1a1a1a;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(245, 238, 238);
    /* border: 2px solid black; */
    margin-left: 1px;
}

.icon1:hover {
    background: rgb(219, 213, 213);
}

.icon2 {
    font-size: 19px;
    color: #1a1a1a;
}

.icon3 {
    font-size: 19px;
    color: #1a1a1a;
}

.tooltiptext {
    visibility: hidden;
    width: 50px;
    height: 35px;
    background-color: #1a1a1a94;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    margin-top: 118px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    margin-left: 5px;
}

.tooltiptext1 {
    visibility: hidden;
    width: 138px;
    height: 35px;
    background-color: #1a1a1a94;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 13px;
    margin-top: 109px;
}

.tooltiptext2 {
    visibility: hidden;
    width: 50px;
    height: 35px;
    background-color: #1a1a1a94;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    margin-top: 109px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
}

.tooltiptext3 {
    visibility: hidden;
    width: 80px;
    height: 35px;
    background-color: #1a1a1a94;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    margin-top: 118px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
}

.icon12 {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 8px;
    border: none;
    cursor: pointer;
}

.icon13 {
    display: flex;
    position: relative;
    width: 55px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 165px;
    border: none;
    cursor: pointer;
}

.icon14 {
    display: flex;
    position: relative;
    width: 55px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}

.avatar {
    display: flex;
    width: 50px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid red; */
    cursor: pointer;
    overflow: hidden;
    margin-left: 21px;
    background: rgb(225, 219, 219);
}

.avatar img {
    width: 100%;
    height: 100%;
    margin-left: 1px;
}


.poi:hover .tooltiptext {
    visibility: visible;
}

.icon12:hover .tooltiptext1 {
    visibility: visible;
}

.icon13:hover .tooltiptext2 {
    visibility: visible;
}

.icon14:hover .tooltiptext3 {
    visibility: visible;
}

.icon12:hover {
    background-color: rgb(233, 233, 233);
}

.icon13:hover {
    background-color: rgb(233, 233, 233);
}

.icon14:hover {
    background-color: rgb(233, 233, 233);
}

.content {
    width: 1200px;
    margin-left: 25px;
}

.container {
    /* overflow: hidden;   */
    width: 100%;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.wrapper {
    width: 91%;
    position: absolute;
    left: 250px;
    padding-right: 5px;
    padding-left: 5px;
    /* transition: 1s; */
    transform: translateX(-130px);
    /* border: 2px solid black; */
    /* position: relative; */
    position: fixed;
    background: #FFF;
    top: 62px;
    /* z-index: -1; */
}

.chips_wrapper {
    overflow-x: scroll;
    /* background-color: #333; */
    display: flex;
    padding-left: 14px;
    /* border: 2px solid black; */
    width: 100%;
    height: 60px;
    transition: 1s;
}

.chips_wrapper::-webkit-scrollbar {
    height: 0;
}

.chip {
    margin: 12px 6px;
    background-color: #f2f2f2;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
    color: #646464;
    transition: 0.5s;
    position: relative;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 1s; */
}

.chip_span {
    position: absolute;
    display: none;
    /* border: 2px solid black; */
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-left: 70px;
    background: rgb(154, 150, 150);
    margin-top: 15px;
    z-index: 1;
}

.chip:hover .chip_span {
    display: block;
}





.avatar_login {
    position: absolute;
    width: 300px;
    height: 95vh;
    /* border: 2px solid black;  */
    top: -60px;
    left: 850px;
    background: #FFF;
    border-radius: 10px;
    display: none;
    box-shadow: gray 0 0 3px 1px;
    z-index: 10;
    overflow-y: scroll;
}

.avatar_login::-webkit-scrollbar{
    width: 0;
}
.avatar_login i{
    color: rgb(55, 52, 52);
    font-size: 20px;
}

.avatar_login_account {
    border-bottom: 1px solid rgb(176, 175, 175);
    height: 100px;
    display: flex;
}

.avatar_login_account_left {
    /* border: 2px solid black; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.avatar_login_account_left img {
    width: 100%;
    height: 100%;
}

.avatar_login_account_right {
    /* border: 2px solid black; */
    height: 70px;
    width: 200px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.avatar_login_account_right p {
    font-size: 18px;
    margin-top: -10px;
}

.avatar_login_account_right span {
    font-size: 15px;
    margin-top: -10px;
}

.avatar_login_account_right a {
    text-decoration: none;
    font-size: 14px;
    color: blue;
}

.avatar_login_account2 {
    height: 170px;
    /* border-bottom: 1px solid rgb(176, 175, 175); */
}

.avatar_login_account2 .avatar_login_account2_li{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 2px;
}
.avatar_login_account2 .avatar_login_account2_li:hover{
    background: rgb(211, 207, 207);
}
.avatar_login_account2 a{
    text-decoration: none;
    color: rgb(55, 52, 52);
    margin-left: 20px;
    cursor: pointer;
}

.sidebar {
    overflow-y: scroll;
    /* background: #000; */
    /* border: 2px solid black; */
    width: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 20px;
    transform: translateX(-130px);
    position: fixed;
    margin-top: 60px;
}

.sidebar::-webkit-scrollbar {
    height: 0;
}

.in_sidebar1 {
    /* border:2px solid black; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 12px;
    /* transition: 1s; */
}

.sidebar_hidden {
    width: 100%;
    display: none;
}

.sidebar_block {
    border: 2px solid transparent;
    width: 30%;
    height: 320px;
    margin-left: 130px;
    list-style-type: none;
    margin-top: -15px;
}

.sidebar_block li {
    border: 2px solid transparent;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    color: rgb(73, 72, 72);
}

.sidebar_block li:hover {
    background: rgb(226, 226, 226);
}

.sidebar_block i {
    font-size: 20px;
}

.sidebar_block a {
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 12px;
    margin-top: -20px;
}

.in_sidebar1:hover {
    background: rgb(239, 235, 235);
}

.in_sidebar1:active {
    background: rgb(210, 203, 203);
}

.in_sidebar1 i {
    font-size: 20px;
    color: #323232;
}

.in_sidebar1 a {
    text-decoration: none;
    color: rgb(55, 52, 52);
    margin-left: 18px;
}

.sidebar_p {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
}

.sidebar_a {
    margin-top: 10px;
    height: 90px;
}

.sidebar_a ul {
    list-style: none;
}

.sidebar_a li {
    margin-top: 3px;
}

.sidebar_a a {
    text-decoration: none;
    color: rgb(77, 75, 75);
    font-size: 14px;
    font-weight: 600;
}

.sidebar_span {
    margin-top: 10px;
    color: rgb(77, 75, 75);
    font-size: 12px;
    margin-bottom: 20px;
}




.main {
    position: absolute;
    width: 90.8%;
    height: 77.2%;
    margin: 120px 0px 0px 250px;
    transform: translateX(-130px);
    /* background: red; */
    z-index: -2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.main_box{
    /* border: 2px solid black; */
    width: 32.5%;
    height: 65%;
    cursor: pointer;
    margin-top: 20px;
}
.main_box_img{
    /* border: 2px solid white; */
    height: 67%;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20;
}
.main_box_img img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.main_box_img:hover{
    background: white;
}
.main_box_box{
    /* border: 2px solid blue; */
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.main_box_box1{
    /* border: 2px solid green; */
    height: 100%;
    width: 18%;
    display: flex;
    padding-top: 8px;
    justify-content: center;
}
.main_box_box1 img{
    width: 50px;
    height: 50px;
}
.main_box_box2{
    /* border: 2px solid green; */
    height: 100%;
    width: 82%;
}
.main_box_box2 h1{
    font-size: 20px;
}
.main_box_box2 p{
    font-size: 19px;
    color: #7A6093;
}
.main_box_box2 span{
    font-size: 17px;
    color: #7A6093;
}




.shorts{
    height: 450px;
    /* border: 2px solid black; */
    /* background: red; */
    margin-top: 300px;
    width: 90.8%;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shorts1{
    /* border: 2px solid white; */
    width: 220px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.shorts1 h1{
    font-size: 20px;
    margin-top: 20px;
}
.shorts1 p{
    margin-top: 10px;
    color: #7A6093;
}
.short_img{
    /* border: 2px solid white; */
    height: 70%;
    overflow: hidden;
    border-radius: 12px;
}